@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.accordion-body {
    padding: 10px !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    /* background-color: #079bbb !important; */
}

input {
    padding: 3px !important;
    border: 1px solid rgb(101, 148, 192);
}

.col-05 {
    width: 4.1% !important;
}

.w-65 {
    width: 65%;
}

.input-DropDown .p-dropdown{
    font-size: 10px !important;
    padding: 2px !important;
    border: 1px solid #c8cbce !important;
    border-radius: 7px !important;
}

.input-DropDown .p-dropdown .p-dropdown-label{
    font-size: 15px !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    font-size: 12px;
    padding: 3px;
    margin-right: 5px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 3px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: 8px;
}

.p-multiselect-token-label {
    margin-right: 6px;
    margin-left: 3px;
}

.p-dropdown:not(.p-disabled):hover,
.p-multiselect:not(.p-disabled):hover {
    border-color: gray;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #4338ca;
}

.p-dropdown-panel {
    background-color: white !important;
    border: 1px solid gray !important;
    border-radius: 10px !important;
}

.p-dropdown,
.p-multiselect {
    transition: none
}

.p-dropdown:not(.p-disabled):hover,
.p-multiselect:not(.p-disabled):hover {
    border-color: var(---IconColor) !important;
}

.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: var(---IconColor) !important;
    ;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    Color: var(---IconColor) !important;
    font-size: 13px !important;
}

.p-multiselect-panel .p-component .p-ripple-disabled .p-connected-overlay-enter-done {
    z-index: 3000 !important;
}

.p-dropdown .p-dropdown-label,
.p-multiselect-label,
.p-multiselect-items {
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 5px;
}

.form-label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
    color: var(---IconColor) !important;
    background-color: var(---WhiteColor) !important;
}

.p-dropdown-panel .p-dropdown-item {
    font-size: 13px !important;
    padding: 8px 10px;
}

.p-dropdown-filter {
    padding: 5px 10px;
}

.p-dropdown-items {
    margin: 0 !important;
    padding: 0 !important;
}

.popover {
    width: 50% !important;
}

.popover-body {
    padding: 10px 13px;
}

.PopBtn {
    font-size: 15px;
    font-weight: 500;
}

.p-dropdown,
.p-multiselect {
    transition: none;
    width: 100% !important;
}

.btn-success {
    color: white !important;
    font-size: 13px !important;
    font-weight: 450 !important;
    background-color: green !important;
    padding: 7px !important;
    border: none !important;
    border-radius: 5px !important;
}

.btn-primary {
    color: white !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    background-color: #0643a0 !important;
    padding: 7px !important;
    border: none !important;
    border-radius: 5px !important;
}


.table-responsive {
    overflow-x: auto; /* Horizontal scroll enable kare */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
  }
  
  .table {
    width: 100%; /* Table full width ma render thase */
    border-collapse: collapse; /* Collapse border spacing */
  }
  
  th, td {
    white-space: nowrap; /* Prevent wrapping of text */
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; /* Add border for better visibility */
  }
  

@media (max-width: 576px) {

.col-2 {
    flex: 0 0 auto;
    width: 27.666667%;
    /* padding-top: px; */
}

.inputbox{
    flex: 0 0 auto;
    width: 32.666667%;
}

.box{
     flex: 0 0 auto;
    width: 45%;
}

}